.ababilitworld .fpba .pagination 
{
    text-align: center;
    margin: 20px 0;
}

.ababilitworld .fpba .pagination a,
.ababilitworld .fpba .pagination .page-numbers 
{
    margin: 0 2px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #0073aa;
}

.ababilitworld .fpba .pagination a:hover,
.ababilitworld .fpba .pagination a:focus,
.ababilitworld .fpba .pagination .page-numbers:hover,
.ababilitworld .fpba .pagination .page-numbers:focus
{
    background-color: #f1f1f1;
}

.ababilitworld .fpba .pagination .current 
{
    background-color: #0073aa;
    color: #fff;
    border-color: #0073aa;
}
