/* The Modal (background) */
.fpba .lightbox .modal {
  display: none;
  position: fixed;
  z-index: 999999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  overflow: auto;
}

/* Modal Content */
.fpba .lightbox .modal-content {
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 100vh;
  margin: 0 auto;
}

/* The Close Button */
.fpba .lightbox .close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.fpba .lightbox .close:hover,
.fpba .lightbox .close:focus {
  color: #999;
  text-decoration: none;
}

/* Slider */
.fpba .lightbox .slider-row {
  position: relative;
}

.fpba .lightbox .slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.fpba .lightbox .mySlides {
  display: none;
  text-align: center;
}

.fpba .lightbox .numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.fpba .lightbox .slider-image {
  width: 100%;
  height: auto;
}

.fpba .lightbox .prev,
.fpba .lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  cursor: pointer;
  z-index: 999999999;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.fpba .lightbox .prev:hover,
.fpba .lightbox .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fpba .lightbox .prev {
  left: 0;
}

.fpba .lightbox .next {
  right: 0;
}

/* Image Name */
.fpba .lightbox .image-name-row {
  text-align: center;
  color: white;
  padding: 10px 0;
}

/* Thumbnail Controls */
.fpba .lightbox .thumbnail-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.fpba .lightbox .thumbnail-row img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.fpba .lightbox .demo {
  opacity: 0.6;
  transition: opacity 0.6s;
}

.fpba .lightbox .active,
.fpba .lightbox .demo:hover {
  opacity: 1;
}
